adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argcomplete==0.9.0
BitTorrent==3.4.2
chardet==2.0.1
command-not-found==0.3
configglue==1.1.2
debtagshw==0.1
defer==1.0.6
dirspec==13.10
Django==1.6.5
django-bootstrap-toolkit==2.15.0
django-bootstrap3==4.9.2
django-facebook==6.0.1
django-registration==1.0
django-social-auth==0.7.28
dnspython==1.11.1
duplicity==0.6.23
Flask==0.10.1
gevent==1.0
greenlet==0.4.2
gyp==0.1
hachoir-core==1.3.3
hachoir-parser==1.3.4
httplib2==0.8
IMDbPY==4.9
itsdangerous==0.24
Jinja2==2.7.3
kazoo==2.2.1
keyring==3.5
l2cs==2.0.2
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
lxml==3.3.3
Mako==0.9.1
MarkupSafe==0.18
MAT==0.3.2
musixmatch==1.0
mutagen==1.22
numpy==1.8.1
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
pdfrw==0.1
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
protobuf==2.4.1
py-bcrypt==0.4
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
Pygments==2.0.2
pygobject==3.12.0
pyinotify==0.9.4
pyOpenSSL==0.13
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5
python-debian===0.1.21-nmu2ubuntu2
python-openid==2.2.5
python-social-auth==0.1.26
pyxdg==0.25
PyYAML==3.11
r2==0.0.0.dev0
reportlab==3.0
requests==0.14.2
requests-oauthlib==0.4.1
rhythmbox-ubuntuone==13.10
SecretStorage==2.0.0
sessioninstaller==0.0.0
simplejson==3.3.1
simpy==3.0.5
six==1.5.2
snudown==1.1.3
software-center-aptd-plugins==0.0.0
South==1.0
stripe==1.22.3
swampy==2.1.7
system-service==0.1.6
tinycss2==0.5
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
ubuntuone-storage-protocol==13.10
ultrafinance==1.0.0
Unidecode==0.4.16
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==1.10.1
wadllib==1.3.2
Werkzeug==0.10.4
xdiagnose===3.6.3build2
ystockquote==0.2.4
zope.interface==4.0.5
